.pic{
    box-sizing: border-box;
}
@keyframes example {
    0%{display: none;
        opacity: 0;
        }
    1%{
        opacity: 100;
    }
    10% {margin-left: 0px;
            display: block;
            position: unset;}
    90% {margin-left:1000px;
        display: block;
        position: unset;}
    100%{display: none;
        opacity:0;}
  }
  
  /* The element to apply the animation to */
  .pic {
    width: 100px;
    height: 100px;
    margin-left:0;
    transition: margin-left 3s;
  }

  .pic:hover {
    margin-left:1000px;
  }