*{
    box-sizing: border-box;
}

.vfoot1lt{
    color: var(--Color-White, #FFF);
font-feature-settings: 'cv11' on;
font-family: "Red Hat Display";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
letter-spacing: -0.24px;
}

.footheads{
    color: var(--Neutrals-0, #FFF);

/* Body/Large - SemiBold */
font-family: Epilogue;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 28.8px */
}

.foottexts{
    color: var(--Neutrals-20, #D6DDEB);

/* Body/Normal - Regular */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
}

.footInput{
    display: flex;
width: 223px;
padding: 12px 16px;
align-items: center;
gap: 10px;
border: 1px solid var(--Neutrals-20, #D6DDEB);
background: var(--Neutrals-0, #FFF);
}

.footerButton{
    display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
background: var(--Brands-Primary, #4640DE);
}

.footLine{
    width: 1192px;
    height: 2px;
    opacity: 0.1;
background: #FFF;
}

@media (max-width: 600px){
    .fele{
        display: none;
    }
}