.blue-btn {
    width: 100px;
    margin: 5px;
    padding: 10px;
    background-color: #4640de;
    color: white;
    font-weight: bold;
}

.search-area{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.search-area input {
    width: 22.3vw;
}